.App {
  text-align: center;
}
.title-background {
}
.slide-title {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}
.slide-desc {
  color: rgb(250, 150, 50, 0.8);
  font-weight: bold;
}

.title-img {
  height: 400px;
  background-size: contain;
}
.card-container {
  margin-top: 50px;
}
.navbar-brand a {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  color: black;
}
